.BoardFormModal {
	position: fixed;
	background: rgba(0, 0, 0, 0.8);
	width: 100vw;
	height: 100vh;
	z-index: 9999;
	display: flex;
	justify-content: center;
	align-items: center;
}

.BoardFormModal-content {
	background-color: white;
	min-width: 300px;
	min-height: 400px;
	padding: 16px;
	border-radius: 8px;
}
.BoardFormModal-title {
	font-weight: bold;
	font-size: 24px;
}
